body {
  background-color: #ffffff;
  color: #00000F;
  font-family: Times;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {text-decoration: none;}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.active:hover {
  background-color: #4CAF50;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.author{
  font-size: 14px;
  font-style: italic;
  padding-top: 7px;
  padding-bottom: 7px;
}

.h1{
  font-size: 25px;
  padding-top: 7px;
padding-bottom: 7px;
}
